.footer-legal-copyright {
    margin-right: 30px;
    margin-top: 3px;
    font-family: inherit;
    text-align: center;
}

svg {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

body {
  background-color: #34B2F7;
}

h1 {
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 98.54545593px;
  line-height: 1;
  font-family: 'Brandmark1 Bold';
}

.path_e {
  background-color: #34B007;
}
